@import url('pretendard.css');

body {
  margin: 0;
  padding: 0;
  font-family: 'Pretendard';
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;  
}
h1 {
  margin: 2em 0 1.5em 0;
}

nav {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  background: linear-gradient(90deg, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu > .menu1 {
  float: left;
  position: relative;
}

.menu > .menu1 > a {
  font-size: 0.85rem;
  color: rgba(255,255,255,0.85);
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.05em;
  display: block;
  padding: 14px 36px;
  border-right: 1px solid rgba(0,0,0,0.15);
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

.menu > .menu1:nth-child(1) > a {
  border-left: 1px solid rgba(0,0,0,0.15);
}

.sub {
  position: absolute;
  background: #182952;
  opacity: 0;
  visibility: hidden;
  transition: all 0.15s ease-in;
}

.sub > li {
  padding: 16px 28px;
  border-bottom: 1px solid rgba(0,0,0,0.15);
}

.sub > li >  a {
  color: rgba(255,255,255,0.6);
  text-decoration: none;
}

.menu > .menu1:hover .sub {
  opacity: 1;
  visibility: visible;
}

.sub > li >  a:hover {
 text-decoration: underline;
}

section {
  column-width: 15em;
  background: #dadadf;
  padding: 2em 12em;
}